In [1]:
import time
import pandas as pd
import numpy as np

In [2]:
CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

In [3]:
df = pd.read_csv('chicago.csv')
df

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0
...,...,...,...,...,...,...,...,...,...
299995,64825,2017-01-21 13:18:00,2017-01-21 13:27:50,590,Orleans St & Elm St (*),Sheffield Ave & Webster Ave,Subscriber,Male,1965.0
299996,695993,2017-04-28 19:32:19,2017-04-28 19:51:18,1139,Ashland Ave & Blackhawk St,Clark St & Elm St,Customer,NaN,NaN
299997,159685,2017-02-12 09:59:01,2017-02-12 10:21:49,1368,Ravenswood Ave & Lawrence Ave,Stockton Dr & Wrightwood Ave,Subscriber,Female,1988.0
299998,564681,2017-04-16 17:07:15,2017-04-16 17:19:00,705,Sheffield Ave & Willow St,Clark St & Chicago Ave,Customer,NaN,NaN
299999,1021247,2017-05-30 12:38:28,2017-05-30 12:55:36,1028,Wacker Dr & Washington St,Damen Ave & Division St,Subscriber,Male,1984.0

In [4]:
df['Start Time'] = pd.to_datetime(df['Start Time'])

In [5]:
df['month'] = df['Start Time'].dt.month
df['day_of_week'] = df['Start Time'].dt.dayofweek
df

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0,6,4
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0,5,3
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,1,2
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0,3,0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
299995,64825,2017-01-21 13:18:00,2017-01-21 13:27:50,590,Orleans St & Elm St (*),Sheffield Ave & Webster Ave,Subscriber,Male,1965.0,1,5
299996,695993,2017-04-28 19:32:19,2017-04-28 19:51:18,1139,Ashland Ave & Blackhawk St,Clark St & Elm St,Customer,NaN,NaN,4,4
299997,159685,2017-02-12 09:59:01,2017-02-12 10:21:49,1368,Ravenswood Ave & Lawrence Ave,Stockton Dr & Wrightwood Ave,Subscriber,Female,1988.0,2,6
299998,564681,2017-04-16 17:07:15,2017-04-16 17:19:00,705,Sheffield Ave & Willow St,Clark St & Chicago Ave,Customer,NaN,NaN,4,6
299999,1021247,2017-05-30 12:38:28,2017-05-30 12:55:36,1028,Wacker Dr & Washington St,Damen Ave & Division St,Subscriber,Male,1984.0,5,1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     300000 non-null  int64
 1   Start Time     300000 non-null  datetime64[ns]
 2   End Time       300000 non-null  object
 3   Trip Duration  300000 non-null  int64
 4   Start Station  300000 non-null  object
 5   End Station    300000 non-null  object
 6   User Type      300000 non-null  object
 7   Gender         238948 non-null  object
 8   Birth Year     238981 non-null  float64
 9   month          300000 non-null  int64
 10  day_of_week    300000 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(5)
memory usage: 25.2+ MB

In [25]:
i=0
m_list_1=[]
while i < len(df):
    months = ['january', 'february', 'march', 'april', 'may', 'june','july', 'august', 'september','october', 'november', 'december']
    month = (df['month'][i])-1
    to_add = months[month]
    m_list_1.append(to_add)
    i+=1

In [26]:
df['month_name'] = m_list_1

df.sort_values(by='Start Time')

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week,month_name
68107,4,2017-01-01 00:07:57,2017-01-01 00:20:53,776,Broadway & Barry Ave,Sedgwick St & North Ave,Subscriber,Male,1990.0,1,6,january
25190,10,2017-01-01 00:17:13,2017-01-01 11:03:34,38781,Wilton Ave & Diversey Pkwy,Halsted St & Wrightwood Ave,Subscriber,Female,1988.0,1,6,january
296013,15,2017-01-01 00:25:47,2017-01-01 00:43:23,1056,Clark St & Congress Pkwy,Wolcott Ave & Polk St,Subscriber,Male,1984.0,1,6,january
279377,17,2017-01-01 00:27:21,2017-01-01 00:42:59,938,Millennium Park,Michigan Ave & 18th St,Subscriber,Male,1991.0,1,6,january
266974,27,2017-01-01 00:35:26,2017-01-01 00:47:54,748,Larrabee St & Menomonee St,Clark St & Wrightwood Ave,Subscriber,Male,1990.0,1,6,january
...,...,...,...,...,...,...,...,...,...,...,...,...
285748,1551484,2017-06-30 23:52:56,2017-07-01 00:03:48,652,Damen Ave & Clybourn Ave,Ashland Ave & Wrightwood Ave,Subscriber,Male,1991.0,6,4,june
287266,1551480,2017-06-30 23:53:05,2017-07-01 00:12:52,1187,Ellis Ave & 55th St,Cottage Grove Ave & 47th St,Subscriber,Male,1987.0,6,4,june
217630,1551482,2017-06-30 23:53:16,2017-07-01 00:02:53,577,Wells St & Concord Ln,Theater on the Lake,Subscriber,Male,1986.0,6,4,june
297429,1551497,2017-06-30 23:58:13,2017-07-01 00:24:22,1569,Southport Ave & Clybourn Ave,Spaulding Ave & Armitage Ave,Subscriber,Female,1989.0,6,4,june
103455,1551500,2017-06-30 23:59:01,2017-07-01 00:08:41,580,Damen Ave & Division St,Halsted St & Blackhawk St (*),Subscriber,Male,1990.0,6,4,june

In [27]:
station = df['Start Station'].mode()[0]
s_count = df['Start Station'].value_counts()[0]
dow = df['day_of_week'].mode()[0]
dow_count = df['day_of_week'].value_counts()[0]
days_dict = {0:'monday',1:'tuesday',2:'wednesday',3:'thursday',4:'friday',5:'saturday',6:'sunday'}
print('The Station most common Start is: "{}" with "{}" records.\nThe Station most common day of week is is: "{}" with "{}" records.\n'.format(station, s_count,days_dict[dow],dow_count ))

The Station most common Start is: "Streeter Dr & Grand Ave" with "6911" records.
The Station most common day of week is is: "tuesday" with "44881" records.

In [28]:
df['month'].value_counts().idxmax()

6

In [29]:
month_count = df['month'].value_counts()
month_count

6    98081
5    66755
4    51659
2    32057
3    29639
1    21809
Name: month, dtype: int64

In [30]:
df['Start Station'].value_counts().idxmax()

'Streeter Dr & Grand Ave'

In [31]:
df['Start Station'].value_counts()[0]

6911

In [34]:
df['month'].value_counts()[df['month'].value_counts().idxmax()]

98081

In [35]:
(df['Trip Duration'].sum()/3600).round(decimals=2)

78019.94

In [36]:
(df['Trip Duration'].sum()/3600)

78019.94083333333

In [38]:
(df['Trip Duration'].sum()/3600).round(1)

78019.9

In [39]:
df['Start Time'].sort_values().idxmin()

68107

In [53]:
start_order = df['Start Time'].idxmax()
start_order

103455

In [54]:
min(df['Start Time'])

Timestamp('2017-01-01 00:07:57')

In [55]:
max(df['Start Time'])

Timestamp('2017-06-30 23:59:01')